
/*#content2
{
position:relative;
right:25px;
float:right;
top:50px;
width:175px;
height:400px;
background-color:#E5E5E5;
}	
#content1 .ui-widget-content
{
 width:650px;
 height:400px;
}*/
body
{
	background-color:grey;
}
#login
{
	position:relative;
	width: 500px;
	height:300px;
	top: 150px;
	left: 400px;
	
}
#loginContent{
	width:100%;
	height:100%;
}
#calc-container{
	width:500px;
	height:475px;
	position:relative;
	top:100px;
	left:350px;
	background-color:#424242;
}
#button_area
{
	width:150px;
	height:200px;
	position:relative;
	top:10px;
	left:10px;
	background-color:white;
}
#defined_matrices
{
	width:150px;
	height:240px;
	position:relative;
	top:20px;
	left:10px;
}
li { cursor: pointer; }
#display_container
{
	width: 320px;
	height:80px;
	position:absolute;
	left:170px;
	top:10px;
}
#display_pane
{
	position:absolute;
	left:10px;
	right:10px;
	top:10px;
	bottom:10px;
}
.white_panes
{
	background-color:white;
	color:black;	
}
#result_container
{
	width: 320px;
	height:300px;
	position:absolute;
	top:100px;
	left:170px;
}
#result_pane
{
	position:absolute;
	left:10px;
	right:10px;
	top:10px;
	bottom:10px;
}
#op_bar
{
	width: 320px;
	height:50px;
	position: absolute;
	top:410px;
	left:170px;
}
#multiply
{
	position:absolute;
	top:4px;
	left:10px;
}
#add
{
	position:absolute;
	top:4px;
	left:60px;
}
#equal
{
	position:absolute;
	top:4px;
	left:110px;
}
#bracket_open
{
	position:absolute;
	top:4px;
	left:160px;
}
#bracket_close
{
	position:absolute;
	top:4px;
	left:210px;
}
#createExpression
{
	position:absolute;
	top:4px;
	left:260px;
}
.number-field
{
width:50px;
height:20px;

}
#dialog
{
width:400px;
height:300px;
}
.error_tip
{
	color:red;
}




