
/*#content2
{
position:relative;
right:25px;
float:right;
top:50px;
width:175px;
height:400px;
background-color:#E5E5E5;
}	
#content1 .ui-widget-content
{
 width:650px;
 height:400px;
}*/
body
{
	background-color:grey;
}
#login
{
	position:relative;
	width: 500px;
	height:300px;
	top: 200px;
	left: 350px;
	
}
#loginContent{
	width:100%;
	height:100%;
}










